<a href="https://colab.research.google.com/github/jash-ai/PYTHON/blob/main/DRUG_CLASSIFICATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/code/julianacorts/drug-classif-ml-decision-tree-and-random-forest

Drug Classif- ML Decision Tree and Random Forest
Python Â· Drugsets, drug200, drug200.csv +1

Dataset description
Data has been collected on a group of patients, who suffered from the same disease. During their course of treatment, each patient responded to one of 5 drugs, Drug A, Drug B, Drug C, Drug X, and Drug Y.

It is then possible to build a model to find out which drug might be appropriate for a future patient with the same disease. The characteristics of this data set are age, sex, blood pressure, cholesterol of the patients, Sodium to potassium ratio in blood of the patient and the target is the drug to which each of these patients responded.

It is a sample of a multiclass classifier, and you can use the training part of the dataset to build a decision tree and then use it to predict the class of an unknown patient or to prescribe a drug to a new patient.

There are 6 variables in this data set:

4 categorical variables and 2 continuous variables.

The feature sets are:

Age -> Patient Age
Sex -> Gender of patient (male or female)
BP -> Blood Pressure Levels of patient (high, normal, or low)
Cholesterol -> Cholesterol Levels of patient (high or normal)
Na_to_K -> Sodium to potassium ratio in blood of patient
Drug -> Type of drug

In [ ]:
Objetives
For the development of the notebook, we will use a predictive technique through supervised learning for data analysis. This classification algorithm will be carried out through the decision tree technique.

Develop a classification model using Decision Tree Algorithm.
Develop an ensemble method using the Random Forest model.
Dataset exploration using various types of data visualization.
Implement the CRISP-DM methodology used in analytical projects.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from plotly import express as px
from plotly.subplots import make_subplots

#to prevent Plotly from giving blank visualizations
from plotly.offline import plot,iplot, init_notebook_mode
import plotly.graph_objs as go
init_notebook_mode(connected=True)

1 Exploratory Data Analysis

In [3]:
df_drug = pd.read_csv('drug200.csv')

2. Data exploration

2. Data exploration

2.1 Data preview

In [4]:
#view some data from the dataset
df_drug.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [5]:
#to know how many records and columns do we have --> 200 records, 6 columns
df_drug.shape

(200, 6)

2.2 Data types

In [6]:
#to know the types of the data on the dataset
df_drug.dtypes

Age              int64
Sex             object
BP              object
Cholesterol     object
Na_to_K        float64
Drug            object
dtype: object

2.3 Null and NaN Data