<a href="https://colab.research.google.com/github/jash-ai/PYTHON/blob/main/Time_Series_Session_1_Meetup_St.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Different Types of Data

In [6]:
import os
import pandas as pd
import numpy as np
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

1.1 Import the data

In [8]:
data = pd.read_csv("WDIData.csv")

In [11]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.428272,87.070576,88.176836,87.342739,89.130121,89.678685,90.273687,NaN,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.942103,75.244104,77.162305,75.538976,78.741152,79.665635,80.749293,NaN,NaN,NaN

1.2 Check the number of rows and columns.
Check how many unique indicator names and country codes are available in the data.

In [9]:
data["Indicator Name"].nunique()

1429

In [10]:
data["Country Code"].nunique()

163

1.3 Create a new dataframe where indicator name is 'Central government debt, total (% of GDP)'

Create a new dataframe where indicator name is 'Military expenditure (% of GDP)'

1.4 Assign the country code as the index for the two dataframes you created earlier.

Keep the countries where both columns have non-missing values.

Create a histogram for the military expenditure column.

### 1.1.2 Time Series Data

1.5
a. filter the two datasets above for country ode 'USA'

b. concatenate  the two series (data for the US) after taking a transpose of them.

c. keep the data corresponding to years between 1960 and 2010 (including).

d. drop the rows with missing values

e. Create plots for the military and government expenditure as a function of time

### 1.1.3 Panel Data

- Cross sectional
 - Multiple individuals at one point in time
- Time Series
 - Individual entity over multiple points in time
- Panel Data (longitudinal data)
 - Multiple entities over multiple points in time

1.6 create the military expenditure for the following countries between
1960 and 2010.

The country codes:

China: 'CHN'

USA:'USA'

India:'IND'

UK:'GBR'

# 2. Internal Structure of Time Series

### Objectives of Time Series Analysis
- Decompose a time series
- Develop mathematical models
- Uses of models
 - Understand observed behaviour
 - Predict series for future points in time

2.1 Read the data 'Monthly_CO2_Concentratioins.xlsx'

Keep the rows wihout any missing values

Plot the Co2 concentration, observe the upward trend

Plot the data for only years 1980 and 1981

## 2.1 Upward Trend

### Zoomed-in Version of the Data Between 1980-81

### Fitting The Trend Line

Fit a linear regression model using the data and
print the coefficient and the intercept

### Calculating the Residuals

Calculate the residuals by subtracting the predictions from the data

Plot the residuals

### Seasonality

Seasonality is manifested as periodic deviations such as those seen in the de-trended observations of CO2 emissions.

A practical technique of determining seasonality is through exploratory data analysis through the following plots:

- Run sequence plot
- Seasonal sub series plot
- Multiple box plots

### Cylical Changes
Cyclical changes are movements observed after every few units of time, but they occur less frequently than seasonal fluctuations. Unlike seasonality, cyclical changes might not have a fixed period of variations.

### Zero-mean Model or White Noise
Once predictions have been made by a time series forecast model, they can be collected and analyzed. The series of forecast errors should ideally be white noise. When forecast errors are white noise, it means that all of the signal information in the time series has been harnessed by the model in order to make predictions.

### Random Walk
A random walk is different from a list of random numbers because the next value in the sequence is a modification of the previous value in the sequence.

$$y(t)=B_0+B_1\times y(t-1) + e(t)$$

$e(t)$ is a random noise or increment at time t. It represents the random fluctuation or innovation added to the last observed value to obtain the next value in the time series.

Given the way that the random walk is constructed, we would expect a strong autocorrelation with the previous observation and a linear fall off from there with previous lag values.